<p id="notice"><%= notice %></p>

<h1>Collections</h1>
<table>
  <tbody>
    <% @collections.each do |collection|  %>
      <tr>
        <td><%#= @collection.currency %></td>
        <%= link_to 'My coins', collection_coins_path(collection) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Collection', new_collection_path %>





