h1.formattitlecollection New Collection
body.formatcrudcollection	 style="background-color:#d5dadc"
	= render 'form', collection: @collection 
	= link_to 'Back', root_path, {:style => 'color:#00a7cc'} 

