<p id="notice"><%= notice %></p>
<h1>My collections </h1>
<body style="background-color:#d5dadc">
 <%= @collection.currency %>
 
<%= link_to 'Back', collections_path, {:style => 'color:#00a7cc'} %>
</body>
