<body style="background-color:#d5dadc">
<h1>Editing User</h1>

<%= render 'form', user: @user %>
<%= link_to 'Show', user_path(@user), {:style => 'color:#00a7cc'} %> |
<%= link_to 'Back', users_path, {:style => 'color:#00a7cc'} %>
</body>