<h1>COINCOLLECTOR</h1>
<<<<<<< HEAD
<%= link_to 'My collection', controller: 'collections' %>
<%= link_to 'New Collection', new_collection_path %>
=======
<%= link_to 'My collections', controller: 'collections' %>
>>>>>>> Adding_collection_entity
