// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.formattitlecoin {
	width: 100%;
	text-align: center;
	color: #e65c00;
	font-size: 75px;
	font-weight: 900;
}