// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$lightblue: '#1e434c';


.formattitlecollection {
	width: 100%;
	text-align: center;
	color: #e65c00;
	font-size: 75px;
	font-weight: 900;
}

.formatcontentcollection {
	height: 45px;
	text-align: center;
	color: #1e434c;
	font-weight: 900;
}

.formatsubheadercollection {
	height: 75px;
	text-align: center;
	font-family: "Courier New", monospace;
	font-weight: bold;
	color: #73605B;
	font-size: 25px;
	width: 300px !important;
}

.logcontentcollection {
	text-decoration: underline;
	text-align: right;
	font-size: 15px;
	font-weight: 900;
	color:#1e434c;
}

.linkcolor:visited {
	color: $lightblue;
}

.formatcrudcollection{
	text-align: center;
}